.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: unset;
    border: none;
    cursor: pointer;
    margin-block: auto;
    aspect-ratio: 1/1;
}

.select {
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
    border: 1px solid #999;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #444;
}

.dialog_title {
    background-image: var(--gradient-blue);
    color: var(--white)
}

.dialog_content {
    display: flex;
    gap: 5rem;
    margin: 2rem 2rem 0 2rem;
}

.div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.label {
    font-weight: 500;
}

.first_row,
.second_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}