.section {
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    background-color: var(--white-2);
    color: var(--black-text);
}

.article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

.title {
    width: 100%;
    font-weight: 400;
    align-self: flex-start;
    padding: 1rem;
    border-bottom: 2px solid #2222220f;
    font-size: 1em;
}

.title_sub {
    font-weight: 400;
    font-size: 1em;
}

.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nb {
    font-size: 3rem;
}

.nb_new {
    color: green;
    font-size: 1.4rem;
    font-weight: 500;
}