.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--white);
    padding: 1rem;
    background-image: var(--gradient-blue);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.title {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 5rem;
}

.role {
    font-size: .7em;
    font-weight: 500;
}

.username {
    font-weight: 500;
    font-size: 1.2em;
    margin-right: 2rem;
    color: var(--black-text);
    background-color: var(--white);
    padding: .5rem 1rem;
    border-radius: 30rem;
}

.user {
    color: rgb(20, 135, 20);
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
}