.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: unset;
    border: none;
    cursor: pointer;
    margin-block: auto;
    aspect-ratio: 1/1;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #444;
}

.dialog_title {
    background-image: var(--gradient-blue);
    color: var(--white)
}

.dialog_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.div {
    margin: 1rem;
}

.label {
    font-weight: 500;
}