.list {
    display: flex;
    flex: 1 1 50%;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    background-color: var(--white-2);
    color: var(--black-text);
}

.container {
    flex: 1 1 100%;
    display: flex;
    gap: 1rem;
    isolation: isolate;
}

.title {
    width: fit-content;
}

.true {
    color: green;
    height: 1rem;
    width: 1rem;
}

.false {
    color: red;
    height: 1.5rem;
    width: 1.5rem;
}

.pending {
    color: grey;
    height: 1.5rem;
    width: 1.5rem;
}

.true,
.false,
.pending {
    margin: auto;
}

.copy,
.copy_active {
    position: absolute;
    background-color: green;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    bottom: 15%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
}

.copy_active {
    animation: fade-out 1s linear;
}

@keyframes fade-out {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}